@use "buttons";
@use "extrusions";
@use "backgrounds";
@use "project-cards";
@use "languages";
@use "animations";
@use "scrollbar";
@use "scroll-carousel";
@use "pixel";

/* Uncomment for a good time */
// * {
//   outline: 1px solid red !important;
// }

// button {
//   background-color: black !important;
// }

.name-container {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -10%;
	z-index: 10;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 !important;
	// overflow-x: hidden;
	// background: linear-gradient(180deg, hsla(216, 76%, 42%, 1) 0%, hsla(214, 41%, 71%, 1) 100%);
}

.main-content > * {
    color: white !important;
	// text-shadow: 1pt 1pt 0 black;
}

.main-content-shadow {
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0) 100%);
    // box-shadow: inset 0 200vh 0 0 hsla(0, 0%, 0%, 0.5);
}

.dark-mode-control {
	position: relative;
	top: 5vw;
	left: 5vw;
}

.clouds {
	position: relative;
	overflow-x: clip;
}
