$green-60: hsl(149, 66%, 60%);
$green-55: hsl(149, 66%, 55%);
$green-50: hsl(149, 66%, 50%);
$green-45: hsl(149, 66%, 45%);
$green-40: hsl(149, 66%, 40%);
$green-35: hsl(149, 66%, 35%);
$green-30: hsl(149, 66%, 30%);
$green-25: hsl(149, 66%, 25%);
$green-20: hsl(149, 66%, 20%);
$green-15: hsl(149, 66%, 15%);
$green-10: hsl(149, 66%, 10%);
$green-5: hsl(149, 66%, 5%);

// Backgrounds
.green-60-bg { background-color: $green-60;}
.green-55-bg { background-color: $green-55;}
.green-50-bg { background-color: $green-50;}
.green-45-bg { background-color: $green-45; }
.green-40-bg { background-color: $green-40; }
.green-35-bg { background-color: $green-35; }
.green-30-bg { background-color: $green-30; }
.green-25-bg { background-color: $green-25;}
.green-20-bg { background-color: $green-20;}
.green-15-bg { background-color: $green-15; }
.green-10-bg { background-color: $green-10; }
.green-5-bg { background-color: $green-5; }

// Shadows
.green-50-shadow-lg { box-shadow: 0 10px $green-50; margin-bottom: 10px; }
.green-40-shadow-lg { box-shadow: 0 10px $green-40; margin-bottom: 10px; }
.green-30-shadow-lg { box-shadow: 0 10px $green-30; margin-bottom: 10px; }
.green-20-shadow-lg { box-shadow: 0 10px $green-20; margin-bottom: 10px; }
.green-10-shadow-lg { box-shadow: 0 10px $green-10; margin-bottom: 10px; }
.green-5-shadow-lg {  box-shadow: 0 10px $green-5; margin-bottom: 10px; }

.green-50-shadow { box-shadow: 0 5px $green-50; margin-bottom: 5px; }
.green-40-shadow { box-shadow: 0 5px $green-40; margin-bottom: 5px; }
.green-30-shadow { box-shadow: 0 5px $green-30; margin-bottom: 5px; }
.green-20-shadow { box-shadow: 0 5px $green-20; margin-bottom: 5px; }
.green-10-shadow { box-shadow: 0 5px $green-10; margin-bottom: 5px; }
.green-5-shadow {  box-shadow: 0 5px $green-5; margin-bottom: 5px; }

// Borders
.green-30-border { border: 1px solid $green-30; }
.green-30-border-top {    border-top: 1px solid $green-30; }
.green-30-border-right {  border-right: 1px solid $green-30; }
.green-30-border-bottom { border-bottom: 1px solid $green-30; }
.green-30-border-left {   border-left: 1px solid $green-30; }

.green-20-border { border: 1px solid $green-20; }
.green-20-border-top {    border-top: 1px solid $green-20; }
.green-20-border-right {  border-right: 1px solid $green-20; }
.green-20-border-bottom { border-bottom: 1px solid $green-20; }
.green-20-border-left {   border-left: 1px solid $green-20; }

.green-5-border { border: 1px solid $green-5; }
.green-5-border-top {    border-top: 1px solid $green-5; }
.green-5-border-right {  border-right: 1px solid $green-5; }
.green-5-border-bottom { border-bottom: 1px solid $green-5; }
.green-5-border-left {   border-left: 1px solid $green-5; }
