<div class="grid grid-rows-4 items-center">
  <div></div>
  <div [delay]="appStore.nameDelay()" class="flex items-end justify-center gap-3">
    <app-star-letter letter="K" class="w-24 h-48" />
    <app-star-letter letter="e" class="w-24 h-24" />
    <app-star-letter letter="n" class="w-24 h-24" />
    <app-star-letter letter="n" class="w-24 h-24" />
    <app-star-letter letter="e" class="w-24 h-24" />
    <app-star-letter letter="t" class="w-24 h-48" />
    <app-star-letter letter="h" class="w-24 h-48" />
  </div>
  <div [delay]="appStore.nameDelay()" class="flex items-end justify-center gap-3">
    <app-star-letter letter="M" class="w-24 h-48" />
    <app-star-letter letter="e" class="w-24 h-24" />
    <app-star-letter letter="a" class="w-24 h-24" />
    <app-star-letter letter="d" class="w-24 h-48" />
  </div>
  <!-- Look Below -->
  <div
    [delay]="appStore.nameDelay() + 1000"
    class="text-center text-white text-2xl font-bold animate__animated animate__fadeInUp"
  >
    <div>Look Below</div>
    <div>🠟</div>
  </div>
</div>
