<app-delayable [delay]="delay()">
  <div class="relative grid grid-cols-7 justify-center items-end gap-3" style="width: 40vw; height: 20vh;">
    <app-star-letter letter="K" class="h-3/4" />
    <app-star-letter letter="e" class="h-1/2"  />
    <app-star-letter letter="n" class="h-1/2"  />
    <app-star-letter letter="n" class="h-1/2"  />
    <app-star-letter letter="e" class="h-1/2"  />
    <app-star-letter letter="t" class="h-3/4" />
    <app-star-letter letter="h" class="h-3/4" />
  </div>
  <div class="relative grid grid-cols-4 justify-center items-end gap-3 m-auto" style="width: 22.85vw; height: 20vh;">
    <app-star-letter letter="M" class="h-3/4" />
    <app-star-letter letter="e" class="h-1/2" />
    <app-star-letter letter="a" class="h-1/2" />
    <app-star-letter letter="d" class="h-3/4" />
  </div>

  <!-- Look Below -->
  <app-delayable [delay]="delay()">
    <div class="text-center text-white absolute text-2xl font-bold animate__animated animate__fadeInUp" style="top: 80vh; z-index: 10;">
      <div>Look Below</div>
      <div class="rotate-90">
        Forward Icon Here
        <!-- <ForwardIcon class="text-white text-3xl" /> -->
      </div>
    </div>
  </app-delayable>
</app-delayable>
