<div class="p-6" [id]="getId()">
  <!-- Title, desc, etc -->
  <div class="flex flex-col">
    <h3 class="font-lg">
      {{ projectCard().name }}
    </h3>
    @if (projectCard().subtitle) {
      <div class="font-light">
        {{ projectCard().subtitle }}
      </div>
    }
    <div>
      {{ projectCard().desc }}
    </div>
  </div>

  <!-- Image -->
  @if (projectCard().image !== undefined) {
    <img
      [alt]="projectCard().image!.alt"
      [src]="projectCard().image!.url"
      [title]="projectCard().image!.title"
    />
    <!-- style={imageStyle} -->
  } @else {
    <div
      [ngStyle]="{
        display: 'flex',
        alignItems: 'center',
        justifyContent: 'center',
      }"
    >
      <div className="text-slate-300 text-center">No Image</div>
    </div>
  }

  <!-- Buttons -->
  <div>
    <!-- Languages & Chips -->
    <div>
      <div>
        @for (chip of projectCard().chips; track $index) {
          <app-chip
            size="small"
            [label]="chip"
            [ngStyle]="{ color: 'white' }"
          />
        }
      </div>

      @if (projectCard().isPrivate) {
        <div className="text-secondary">Private repository</div>
      } @else {
        <app-languages
          [repoName]="projectCard().repo.name"
          [repoOwner]="projectCard().repo.owner"
        />
      }
    </div>

    <!-- Buttons -->
    <div>
      <!-- TODO: Add a disabled button with a disabled icon for when no actions are available -->
      <!-- @for (iconButton of projectCard().iconButtons; track $index) {
        <a
          [href]="iconButton.href"
          rel="noreferrer"
          target="_blank"
          [matTooltip]="iconButton.title"
        >
          {{ iconButton.icon }}
        </a>
      } -->
    </div>
  </div>
</div>
