.button {
  border: none;
  cursor: pointer;
}

.button-green {
  border-radius: 0 !important;
  background-color: #2bd47d !important;
  box-shadow: 0 4px #03634d;
}

.button-green:hover {
  margin-top: 1px;
  margin-bottom: -1px;
  background-color: #27be70 !important;
  box-shadow: 0 3px #03634d;
}

.button-green:focus {
  box-shadow: none !important;
  margin-top: 4px;
  margin-bottom: -4px;
}

.green-60-bg {
  background-color: #56dc97;
}

.green-55-bg {
  background-color: #41d88a;
}

.green-50-bg {
  background-color: #2bd47d;
}

.green-45-bg {
  background-color: #27be70;
}

.green-40-bg {
  background-color: #23a964;
}

.green-35-bg {
  background-color: #1e9457;
}

.green-30-bg {
  background-color: #1a7f4b;
}

.green-25-bg {
  background-color: #166a3e;
}

.green-20-bg {
  background-color: #115532;
}

.green-15-bg {
  background-color: #0d3f25;
}

.green-10-bg {
  background-color: #092a19;
}

.green-5-bg {
  background-color: #04150c;
}

.green-50-shadow-lg {
  box-shadow: 0 10px #2bd47d;
  margin-bottom: 10px;
}

.green-40-shadow-lg {
  box-shadow: 0 10px #23a964;
  margin-bottom: 10px;
}

.green-30-shadow-lg {
  box-shadow: 0 10px #1a7f4b;
  margin-bottom: 10px;
}

.green-20-shadow-lg {
  box-shadow: 0 10px #115532;
  margin-bottom: 10px;
}

.green-10-shadow-lg {
  box-shadow: 0 10px #092a19;
  margin-bottom: 10px;
}

.green-5-shadow-lg {
  box-shadow: 0 10px #04150c;
  margin-bottom: 10px;
}

.green-50-shadow {
  box-shadow: 0 5px #2bd47d;
  margin-bottom: 5px;
}

.green-40-shadow {
  box-shadow: 0 5px #23a964;
  margin-bottom: 5px;
}

.green-30-shadow {
  box-shadow: 0 5px #1a7f4b;
  margin-bottom: 5px;
}

.green-20-shadow {
  box-shadow: 0 5px #115532;
  margin-bottom: 5px;
}

.green-10-shadow {
  box-shadow: 0 5px #092a19;
  margin-bottom: 5px;
}

.green-5-shadow {
  box-shadow: 0 5px #04150c;
  margin-bottom: 5px;
}

.green-30-border {
  border: 1px solid #1a7f4b;
}

.green-30-border-top {
  border-top: 1px solid #1a7f4b;
}

.green-30-border-right {
  border-right: 1px solid #1a7f4b;
}

.green-30-border-bottom {
  border-bottom: 1px solid #1a7f4b;
}

.green-30-border-left {
  border-left: 1px solid #1a7f4b;
}

.green-20-border {
  border: 1px solid #115532;
}

.green-20-border-top {
  border-top: 1px solid #115532;
}

.green-20-border-right {
  border-right: 1px solid #115532;
}

.green-20-border-bottom {
  border-bottom: 1px solid #115532;
}

.green-20-border-left {
  border-left: 1px solid #115532;
}

.green-5-border {
  border: 1px solid #04150c;
}

.green-5-border-top {
  border-top: 1px solid #04150c;
}

.green-5-border-right {
  border-right: 1px solid #04150c;
}

.green-5-border-bottom {
  border-bottom: 1px solid #04150c;
}

.green-5-border-left {
  border-left: 1px solid #04150c;
}

.starry-night-bg {
  background: linear-gradient(270deg, black 0%, #03003d 100%);
  background: -moz-linear-gradient(270deg, black 0%, #03003d 100%);
  background: -webkit-linear-gradient(270deg, black 0%, #03003d 100%);
}

.bg-img {
  position: absolute;
  z-index: -10;
  height: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding-right: 24px;
  padding-left: 24px;
}

.card-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-banner-image {
  height: 80px;
}

.card-title {
  height: 80px;
  padding: 0.25rem 0 1.5rem 0;
}

.project-card-container {
  width: 100%;
}

.project-card {
  margin: 24px;
  overflow: hidden;
}

.project-card > * {
  color: white !important;
}

.project-card > * .text-secondary {
  color: white !important;
}

.project-card-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15rem;
  max-height: 15rem;
}

.project-card-info {
  flex-grow: 1;
}

.project-card-image-wrapper {
  height: 100%;
  margin-bottom: 0;
}

.project-card-image {
  object-fit: contain;
  width: 15rem;
  height: 100%;
}

.project-card-actions {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.project-card-actions-background-wrapper {
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.project-card-actions-background {
  width: 100%;
  height: 100%;
}

.project-card-actions > * {
  height: 100%;
  flex-grow: 1;
  z-index: 1;
}

.project-card-action {
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 0;
  background-color: #45bff8;
  box-shadow: 0 4px #2773ba;
  margin-bottom: 4px;
  border-right: 2px solid #2773ba;
  border-top: 2px solid #2773ba;
}

.project-card-action:last-child {
  border: 0;
  border-top: 2px solid #2773ba;
}

.project-card-action:hover {
  margin-top: 1px;
  margin-bottom: 3px;
  background-color: #2bb7f7;
}

.project-card-action:focus {
  box-shadow: 0 0 #2773ba;
  margin-top: 4px;
  margin-bottom: 0px;
}

.project-card-languages {
  padding: 17px 12px 7px 12px;
  flex: 1;
}

.project-card-chips {
  font-size: 0.75rem !important;
  flex: 0;
  display: flex;
  padding-top: 0;
  padding-bottom: 4px;
}

.project-card-chip {
  background-color: #888888 !important;
  margin-right: 6px;
  margin-bottom: 8px;
  box-shadow: 0 2px #222222;
}

.project-card-progress {
  box-shadow: 0 2px #222222;
  height: 8px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  background-color: gray;
}

.project-card-languages-ul {
  list-style: none !important;
  padding-left: 0px;
  margin: 0px;
  margin-top: 8px;
}

.project-card-languages-a {
  align-items: center;
}

.project-card-languages-linkSecondary {
  align-items: center;
}

.project-card-languages-chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 8px;
}

.project-card-languages-name {
  color: white;
  margin-right: 4px;
}

.octicon {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  box-shadow: 0 2px #222222;
  display: inline;
  overflow: visible !important;
  vertical-align: text-bottom;
  margin-right: 12px !important;
}

.transition {
  transition: all 0.5s linear;
}

.rise-anim {
  transition: transform 0.5s ease;
}

.rise-anim:hover {
  transform: translate(0px, -20px);
}

@-webkit-keyframes fadeIn-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes fadeIn-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.fadeIn-1 {
  -webkit-animation-name: fadeIn-1;
  animation-name: fadeIn-1;
}

@-webkit-keyframes fadeIn-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
@keyframes fadeIn-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
.fadeIn-2 {
  -webkit-animation-name: fadeIn-2;
  animation-name: fadeIn-2;
}

@-webkit-keyframes fadeIn-3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}
@keyframes fadeIn-3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}
.fadeIn-3 {
  -webkit-animation-name: fadeIn-3;
  animation-name: fadeIn-3;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-8 20:44:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-pop-tl
 * ----------------------------------------
 */
.shadow-pop-tl:hover {
  animation: shadow-pop-tl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes shadow-pop-tl {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
    transform: translateX(8px) translateY(8px);
  }
}
.shadow-split {
  box-shadow: 0 0 #b514d3, 0 0 #f44336 !important;
  transition: box-shadow 500ms cubic-bezier(0.33, 1, 0.68, 1) !important;
  -webkit-transition: box-shadow 500ms cubic-bezier(0.33, 1, 0.68, 1) !important;
}

.shadow-split:hover {
  box-shadow: 6px 6px #b514d3, -6px -6px #f44336 !important;
}

.shadow-split-light {
  box-shadow: 0 0 #b514d3, 0 0 #f44336 !important;
  transition: box-shadow 500ms cubic-bezier(0.33, 1, 0.68, 1) !important;
  -webkit-transition: box-shadow 500ms cubic-bezier(0.33, 1, 0.68, 1) !important;
}

.shadow-split-light:hover {
  box-shadow: 6px 6px #b514d3, -6px -6px #f44336 !important;
}

.spin {
  -webkit-animation: spin 180s linear infinite;
  -moz-animation: spin 180s linear infinite;
  animation: spin 180s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* width */
.main-scrollbar::-webkit-scrollbar {
  width: 16px;
}

.main-scrollbar::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}

.main-scrollbar::-webkit-scrollbar-thumb {
  background: #e8e8e888;
  border-radius: 8px;
  box-shadow: inset 0 0 5px black;
}

.main-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e8e8e8aa;
  border-radius: 8px;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

/* Track */
/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e8e8e844;
  border-radius: 4px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e8e8e888;
}

/* width */
.custom-scrollbar-light::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
.custom-scrollbar-light::-webkit-scrollbar-thumb {
  background: #08080844;
  border-radius: 4px;
}

/* Handle on hover */
.custom-scrollbar-light::-webkit-scrollbar-thumb:hover {
  background: #08080888;
}

.scroll-carousel {
  padding: 24px;
}

.scroll-carousel-items {
  overflow-x: scroll;
  overflow-x: hidden;
  white-space: nowrap;
}

.scroll-carousel-items > * {
  white-space: normal;
}

.scroll-carousel-item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  transition: opacity 1s, transform 1s;
}

.scroll-carousel-numbers {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.scroll-carousel-number {
  margin-right: 12px;
  min-width: 1.75rem;
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

.scroll-carousel-buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.scroll-carousel-button {
  width: 45%;
  color: #ffffff;
}

.pixel {
  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Chrome */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                           */
}

@font-face {
  font-family: "Pixelar Regular";
  src: url("../fonts/PixelarRegularW01-Regular.woff2") format("woff2");
}
.pixel-font {
  font-family: "Pixelar Regular" !important;
  color: white !important;
  text-shadow: 1pt 1pt black;
}

h1.pixel-font {
  font-size: 3.5rem;
}

h2.pixel-font {
  font-size: 2.75rem;
}

h3.pixel-font {
  font-size: 2.25rem;
}

h4.pixel-font {
  font-size: 2rem;
}

h5.pixel-font {
  font-size: 1.75rem;
}

h6.pixel-font {
  font-size: 1.25rem;
}

p.pixel-font,
span.pixel-font {
  font-size: 1.5rem;
  line-height: 1 !important;
}

/* Uncomment for a good time */
.name-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
  z-index: 10;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
}

.main-content > * {
  color: white !important;
}

.main-content-shadow {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0) 100%);
}

.dark-mode-control {
  position: relative;
  top: 5vw;
  left: 5vw;
}

.clouds {
  position: relative;
  overflow-x: clip;
}

/*# sourceMappingURL=App.css.map */
