@defer (on immediate; when languages() !== null) {
  <div class="language-bar block">
    @for (language of mappedLanguages(); track $index) {
      <span
        [ngStyle]="{
          width: language.percentage + '%',
          backgroundColor: language.color,
        }"
        [title]="getLanguageTooltip(language)"
        class="project-card-language-bar"
      ></span>
    }
  </div>
} @placeholder {
  <div class="text-slate-300 italic">Github languages</div>
} @loading {
  <div class="text-slate-300 italic">Loading</div>
} @error {
  <div class="text-slate-300 italic">Error fetching languages</div>
}
