<app-letter-page class="shadow-2xl p-1-4in">
  <div class="flex px-3 divide-x">
    <div class="basis-3/4 pr-4">
      <app-header></app-header>
      <app-info-block title="Employment History" icon="work">
        <app-info-entry title="Full Stack Developer, DevOps Engineer"
          company="Universal Logistics Holdings"
          location="Warren, MI"
          commute="Onsite"
          [startDate]="DateTime.utc(2023, 6, 1)"
          >
          Develop, unit test, and maintain features for a logistics ERP web app. 
          Write and deploy SQL changes. 
          Develop DevOp processes to automate SQL database migrations.
          Integrate Jira with the teams Git workflow
        </app-info-entry>

        <app-info-entry title=" Subsystem Validation Engineer"
          company="General Motors | TRACK Rotational Program"
          location="Warren, MI"
          [startDate]="DateTime.utc(2023, 1, 1)"
          [endDate]="DateTime.utc(2023, 6, 1)"
          commute="Hybrid"
          >
          Automated vehicle interface J2534 (CAN) validation and reporting based on provided ARXML documents.
        </app-info-entry>

        <app-info-entry title="Performance Test Engineer"
          company="General Motors | TRACK Rotational Program"
          location="Warren, MI"
          [startDate]="DateTime.utc(2022, 6, 1)"
          [endDate]="DateTime.utc(2023, 1, 1)"
          commute="Hybrid"
          >
          Achieved end-to-end performance testing with pythons unittest framework. 
          Integrated testing into the CI/CD pipeline to automate testing on vehicle data upload.
        </app-info-entry>

        <app-info-entry title="Assistant Technical Project Manager"
          company="General Motors | TRACK Rotational Program"
          location="Warren, MI"
          [startDate]="DateTime.utc(2022, 1, 1)"
          [endDate]="DateTime.utc(2022, 6, 1)"
          commute="Hybrid"
          >
          Collaborated with Ultra Cruises safety teams to analyze and reported gaps in current and expected operational design domain
        </app-info-entry>

        <app-info-entry title="Senior Technologist"
          company="Mahle Filtering Systems"
          location="Troy, MI"
          [startDate]="DateTime.utc(2018, 9, 1)"
          [endDate]="DateTime.utc(2022, 1, 1)"
          commute="Hybrid"
          >
          Developed and maintained a automated testing for carbon canisters. Analyzed and reported KPI data to management.
        </app-info-entry>
      </app-info-block>
  
      <app-info-block title="Education" icon="school">
        <app-info-entry title="Bachelor of Computer Science"
        company="Oakland University"
        location="Auburn Hills, MI"
        [startDate]="DateTime.utc(2016, 9, 1)"
        [endDate]="DateTime.utc(2021, 4, 1)"
        commute="Onsite"
        >
        Notable Classes<br/>Algorithms, data structures, software engineering, and database management, artificial intelligence, and advanced system administration
        </app-info-entry>
      </app-info-block>
  
      <!-- <app-info-block title="Extra-Curricular Activities" icon="grass">
  Event Organizer at OU League of Legends Club, Auburn Hills
September 2019 — April 2020
FIRST Robotics at Adams Highscool
September 2012 — May 201
      </app-info-block> -->
    </div>
    <div class="basis-1/4 ps-4 flex flex-col gap-y-3">
      <div>
        <div class="text-lg font-medium mb-2">Details</div>
        <ul>
          <li>United States</li>
          <li>+1 (248) 882 - 7006</li>
          <li><a href="mailto:kennethmead784@gmail.com" class="text-blue-500">{{ 'kennethmead784@gmail.com' }}</a></li>
        </ul>
      </div>
    
      <div>
        <div class="text-lg font-medium mb-2">Links</div>
        <div class="flex gap-x-3">
          <a href="https://github.com/Xerner" title="Github">
            <mat-icon svgIcon="github"></mat-icon>
          </a>
          <a href="https://www.linkedin.com/in/kennethmead784/" title="LinkedIn">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <a href="https://xerner.github.io/" title="Portfolio">
            <mat-icon>cases</mat-icon>
          </a>
        </div>
      </div>

      <div>
        <div class="text-lg font-medium mb-2">Languages</div>
        <div class="flex flex-wrap divide-x gap-x-1 gap-y-1">
          <div class="chip" style="color: white;background-color: #3178c6">TypeScript</div>
          <div class="chip" style="color: black;background-color: #f1e05a">JavaScript</div>
          <div class="chip" style="color: white;background-color: #178600">C#</div>
          <div class="chip" style="color: white;background-color: #3572A5">Python</div>
          <div class="chip" style="color: black;background-color: #e38c00">MS SQL</div>
          <div class="chip" style="color: white;background-color: #555555">C</div>
          <div class="chip" style="color: white;background-color: #b07219">Java</div>
        </div>
      </div>

      <div>
        <div class="text-lg font-medium mb-2">Programming Skills</div>
        <div class="flex flex-col gap-y-1">
          <app-skill level="5">Angular</app-skill>
          <app-skill level="5" >.NET Core</app-skill>
          <app-skill level="4" >React.js</app-skill>
          <app-skill level="4" >ASP.NET Core</app-skill>
          <app-skill level="4" >Model-View-Controller (MVC)</app-skill>
          <app-skill level="4" >Microservices</app-skill>
          <app-skill level="3" >SignalR</app-skill>
          <app-skill level="3" >Entity Framework</app-skill>
          <app-skill level="3" >NUnit</app-skill>
          <app-skill level="3" >CI/CD</app-skill>
        </div>
      </div>

      <div>
        <div class="text-lg font-medium mb-2">Software Skills</div>
        <div class="flex flex-col gap-y-1">
          <app-skill level="5">Git</app-skill>
          <app-skill level="5">Jira</app-skill>
          <app-skill level="5">Unity</app-skill>
          <app-skill level="5">Microsoft Office</app-skill>
          <app-skill level="3">Blender</app-skill>
          <app-skill level="3">Linux</app-skill>
          <app-skill level="3">GoCD</app-skill>
        </div>
      </div>

      <div>
        <div class="text-lg font-medium mb-2">Hobbies</div>
        <div class="flex flex-col divide-y gap-y-1">
          <div class="pt-1">Making Apps/Games</div>
          <div class="pt-1">3D Printing</div>
        </div>
      </div>
    </div>
  </div>
</app-letter-page>
