<!-- Background -->
<!-- <div class="h-screen w-full block absolute top-0 -z-10">
  <app-stars class="relative top-0 w-full h-full block bg-space" />
</div> -->

<!-- <app-my-name class="h-screen block"></app-my-name> -->

<div [ngClass]="{
  'block bg-space-to-sky min-h-screen flex flex-col': true,
}">
  <app-clouds class="block w-full" />

  <!-- <div class="main-content main-content-shadow">
      <CloudsAndSun />
      <ProjectCards />
      <GameJamCards />
  </div> -->

  <!-- Project Cards -->
  @if (appStore.errors.apiLimitError()) {
    <div class="grow flex justify-center items-center">
      <div class="text-white text-5xl p-8 bg-slate-500 rounded-full border-2 border-slate-800">API Limit Reached!</div>
    </div>
  } @else {
    @defer (when appStore.projectCards() !== null) {
      <div class="flex flex-col py-56 gap-3 text-white">
        @for (projectCard of appStore.projectCards(); track $index) {
          <app-project-card
            [id]="getId(projectCard)"
            [index]="$index"
            [projectCard]="projectCard"
            class="project-card"
          ></app-project-card>
        }
      </div>
    } @placeholder {
      <div class="grow flex justify-center items-center">
        <div class="text-white text-5xl p-8 bg-slate-500 rounded-full border-2 border-slate-800">Loading</div>
      </div>
    } @error {
      <div class="grow flex justify-center items-center">
        <div class="text-white text-5xl p-8 bg-slate-500 rounded-full border-2 border-slate-800">Error</div>
      </div>
    }
  }

  <div class="overflow-hidden h-[100px] relative">
    <div class="the-ground"></div>
  </div>

  <div class="flex justify-end gap-3 p-3 bg-slate-500">
    @if (appStore.APP_SETTINGS.caching?.enabled) {
      <button class="bg-slate-300 p-2 rounded" (click)="cacheStore.openCache()">
        Cache
      </button>
    }
    <app-tooltip tooltip="My Github">
      <button class="bg-slate-300 p-2 rounded">
        <a href="https://github.com/Xerner" target="_blank">
        Github
      </a>
      </button>
      <!-- <IconButton >
        <GitHubIcon />
      </IconButton> -->
    </app-tooltip>
  </div>
</div>

