@defer (when languages() !== null) {
  <div>
    <span class="h-3 rounded-full">
      @for (language of mappedLanguages(); track $index) {
        <span
          [ngStyle]="{
            width: language.percentage + '%',
            backgroundColor: language.color,
          }"
          class="project-card-language-bar"
        ></span>
      }
    </span>
  </div>
} @loading {
  <div class="text-slate-300 italic">Loading</div>
} @error {
  <div class="text-slate-300 italic">Error fetching languages</div>
}
