<div class="body">
  <div>
    <!-- Title, desc, etc -->
    <div class="flex items-center justify-between gap-3 margin text-primary">
      <div class="flex items-center gap-3">
        <!-- Title -->
        <h3 class="text-2xl font-semibold">
          <a [href]="projectCard().repo().html_url" target="_blank">
            <span class="text-slate-300 font-light"
              >{{ projectCard().repo().owner.login }}/</span
            ><span class="hover:underline hover:underline-offset-8">{{ projectCard().repo().name }}</span>
          </a>
        </h3>

        <!-- Owner gravatar -->
        <div
          class="rounded-full overflow-clip"
          [title]="projectCard().repo().owner.login"
        >
          <a [href]="projectCard().repo().owner.html_url" target="_blank">
            <img
              class="w-8 h-8"
              [src]="projectCard().repo().owner.avatar_url"
              alt="repo owner"
            />
          </a>
        </div>

        <!-- Repo flairs -->
        @if (projectCard().repo().fork) {
          <span class="font-light text-lg text-slate-300">fork</span>
        }
        @if (projectCard().repo().private) {
          <span class="font-light text-lg text-slate-300">private</span>
        }
      </div>

      <!-- Repo counts -->
      <div class="flex gap-3">
        <div class="chip bg-primary">
          {{ projectCard().repo().open_issues_count }} open issues 📝
        </div>
        <div class="chip bg-primary">
          {{ projectCard().repo().stargazers_count }} stars 🤩
        </div>
        <div class="chip bg-primary">
          {{ projectCard().repo().watchers_count }} watchers 👁
        </div>
      </div>
    </div>

    <div
      class="flex flex-wrap gap-3 font-light padded-x py-2 bg-secondary text-secondary"
    >
      <div>Created {{ projectCard().repo().created_at | TimeFromNow }} ago</div>
      <div class="border-r text-secondary"></div>
      <div>
        Last updated {{ projectCard().repo().updated_at | TimeFromNow }} ago
      </div>
    </div>

    @if (projectCard().repo().description) {
      <div class="margin text-primary">
        {{ projectCard().repo().description }}
      </div>
    }
  </div>

  @if (projectCard().repo().topics.length > 0) {
    <div class="chips margin">
      @for (chip of projectCard().repo().topics; track $index) {
        <div class="chip bg-primary text-primary">
          {{ chip }}
        </div>
      }
    </div>
  }

  <!-- Languages & Chips -->
  @if (appSettings.settings.features.languages) {
    @if (projectCard().repo().private) {
      <div class="italic text-primary chip">No language information</div>
    } @else {
      <div class="margin">
        <app-languages [languages]="projectCard().languages()" />
      </div>
    }
  }
</div>

<!-- Buttons -->
<!-- <div> -->
<!-- TODO: Add a disabled button with a disabled icon for when no actions are available -->
<!-- @for (iconButton of projectCard().iconButtons; track $index) {
      <a
        [href]="iconButton.href"
        rel="noreferrer"
        target="_blank"
        [matTooltip]="iconButton.title"
      >
        {{ iconButton.icon }}
      </div>
      </a>
    } -->
<!-- </div> -->

<!-- Image -->
<!-- @if (projectCard().image !== undefined) {
  <div class="image-container">
    <img
      [alt]="projectCard().image!.alt"
      [src]="projectCard().image!.url"
      [title]="projectCard().image!.title"
      class="image"
    />
  </div>
} -->
<!-- @else {
    <div
      class="image-container h-full flex items-center justify-center"
    >
      <div class="text-slate-300 text-center">No Image</div>
  </div>
} -->
