<div class="filters">
  <div class="flex flex-col gap-12 padded">
    <div class="flex gap-3">
      <div class="header text-primary">Topics</div>
      <div class="options">
        @for (
          filter of projectCardStore.projectCardTopicFilters();
          track $index
        ) {
          <app-toggle-filter
            [filter]="filter"
            class="py-1"
            (toggle)="toggleProjectCardFilter(filter)"
          ></app-toggle-filter>
        }
      </div>
    </div>
    <div class="flex gap-3">
      <div class="header text-primary">Languages</div>
      <div class="options">
        @for (
          filter of projectCardStore.projectCardLanguageFilters();
          track $index
        ) {
          <app-toggle-filter
            class="py-1"
            [filter]="filter"
            (toggle)="toggleProjectCardFilter(filter)"
          ></app-toggle-filter>
        }
      </div>
    </div>
  </div>
</div>
