<div appTabs="filters">
  <div
    [ngClass]="{
      'flex justify-between items-center ': true,
      'text-2xl text-primary': true,
      'padded-x pe-4 py-3': true,
      'bg-secondary': true,
      'border-t-4 border-b-2 border-secondary': true,
    }"
  >
    <div
      class="grow flex gap-3"
      [accordion]="isAccordionOpen()"
      [isAccordionHorizontal]="true"
    >
      <button appTab="filters" class="tab">Filters</button>
      <button appTab="websites" class="tab bg-primary">Summary</button>
    </div>

    <app-hamborger
      [isOpen]="isAccordionOpen()"
      (click)="onHamburgerClick()"
    ></app-hamborger>
  </div>

  <div
    [accordion]="isAccordionOpen()"
    class="bg-primary border-b-2 border-secondary"
  >
    <app-filters appTabContent="filters"></app-filters>
    <div appTabContent="websites" class="text-primary padded">

    </div>
  </div>
</div>
